<h1>REGION LIST</h1>

<table class="table table-bordered text-center">
  <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
      </tr>
  </thead>
  <% @regions.each do |region| %>
  <tbody>
      <tr>
        <td><%= region.code %></td>
        <td><%= region.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>